/* Footer.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 100%;
    position: sticky; /* Change from fixed to sticky */
    bottom: 0;
    margin-top: auto; /* Push footer to the bottom of the page */
  }
  
  .footer-section {
    flex: 1;
    text-align: center;
  }
  
  .footer-logo {
    flex: 0 0 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo .company-logo {
    width: 100px; /* Adjust size as needed */
    margin-bottom: 10px;
  }
  
  .footer-contact {
    flex: 0 0 30%;
    text-align: left;
  }
  
  .footer-subscribe {
    flex: 1;
  }
  
  .email-input {
    padding: 5px;
    margin-right: 10px;
    width: 70%;
  }
  
  .subscribe-button {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subscribe-button:hover {
    background-color: #0056b3;
  }
  